extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {rel:'stylesheet', href: '/stylesheets/css/guess.css'}
    ])
block head-script-list
  +head-scripts([
    {src:'/javascripts/guessForm.js'}
  ])
block nav-link-list
  +nav-links([
    {path: '/', desc: 'Home'},
    {path: '/history', desc: 'History'}
    ])
block content
  main(role="main")
    .content-layout
      #content.text-content
        section#start
          h2(class="instructions").
            The server is thinking of a number between 1 and 10
          form(id="guess-form" action="/guess" method="post")
            .input-layout
              input(
                type="text"
                name="guess"
                class="input-layout__input"
                autocomplete="off"
                placeholder="Your Guess"
                )
              button#guess_input(type="button" class="input-layout__btn") Guess
          ul#guess-display
            if result == 'too high'
              li.highGuess #{guess} is #{result}
            else
              li.lowGuess #{guess} is #{result} 
          