extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {href: '/stylesheets/css/history.css'}
    ])
block head-script-list
  +head-scripts([
    {src:'/javascripts/history.js'}
  ])
block nav-link-list
  +nav-links([
    {path: '/start', desc: 'Ready?'},
    {path: '/', desc: 'Home'}
    ])
block content
  main(role="main")
    .content-layout
      #content
        table#history_table
          caption PAF Guessing Game History
          thead
            th Date
            th Secret Number
            th # of Guesses
          each game, index in history
            tr.table-row(data-objectid=game._id)
              td(id=index) #{game.timeStamp}
              td #{game.secretNumber}
              td #{game.guesses.length}
        section#game_detail.hidden
          div(class="gameDetailContent")
            h2 Guessing Game Detail
            p#date
            #secret-and-guess
              .text-box#secret_number
                h3 Secret Number
                p#secret
              .text-box
                h3 # of Guesses
                p#num_guesses
            #guesses-layout
              h3 Guesses
              ul#guesses
        nav(class="nav nav--footer l-grid")
          a.nav-link(href="/start") Play
          a#history(class="nav-link hidden") History
          