<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/history.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/history.js"></script>
  </head>
  <body>
    <header>
    </header>
    <main class="l-grid" role="main">
      <div class="title">
        <h1><%= title %></h1>
      </div>
      <nav class="nav nav--main l-grid" role="navigation">
        <!-- Hamburber Menu -->
        <label for="hamburger" class="nav__label">&#9776</label>
        <input type="checkbox" id="hamburger">
        <!-- List of nav links -->
        <ul class="nav__ul">
          <li>
            <a class="nav-link" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link" href="/start">Start</a>
          </li>
        </ul>
      </nav>
      <div class="content-layout">
        <div id="content" class="text-content l-grid">
          <table id="history_table" >
            <caption>PAF Guessing Game History</caption>
            <thead>
                <th>Date</th>
                <th>Secret Number</th>
                <th># of Guesses</th>
            </thead>
            <%history.forEach((game, i)=>{ %>
                <tr class="table-row" data-objectid="<%=game._id%>">
                    <td id="<%=i%>"><%=game.timeStamp%></td>
                    <td><%=game.secretNumber%></td>
                    <td><%=game.guesses.length%></td>
                </tr>
            <%});%>
          </table>
          <section id="game_detail" class="hidden">
            <div class="gameDetailContent l-grid">
              <h2> Guessing Game Detail </h2>
              <p id="date"></p>
              <div id="secret-and-guess">
                  <div class="text-box" id="secret_number">
                      <h3>Secret Number</h3>
                      <p id="secret"></p>
                  </div>
                  <div class="text-box">
                      <h3># of Guesses</h3>
                      <p id="num_guesses"></p>
                  </div>
              </div>
              <div id="guesses-layout">
                  <h3>Guesses</h3>
                  <ul id="guesses">
  
                  </ul>
              </div>
            </div>
          </section>
        <nav class="nav nav--footer l-grid">
            <a class="nav-link" href="/start">Play</a>
            <a id="history" class="nav-link hidden">History</a>
        </nav>
        </div>
      </div>
    </main>
  </body>
</html>
