extends ./layouts/main-layout.pug
block head-link-list
  +head-links([
    {rel:'stylesheet', href: '/stylesheets/css/guess.css'}
    ])
block nav-link-list
  +nav-links([
    {path: '/', desc: 'Home'},
    {path: '/history', desc: 'History'}
  ])
block content  
  main(role="main")
    .content-layout
      #content.text-content
        section#start
          h2.instructions.
            The server is thinking of a number between 1 and 10
          form(id="guess-form" action="/guess" method="post")
            .input-layout
              input(
                type="text"
                name="guess"
                class="input-layout__input"
                autocomplete="off"
                required
                placeholder="Your Guess"
                )
              button(type="submit" class="input-layout__btn") Guess
          ul  
            